{
    "Description": "Configured to filter profanities and PPE Related Comments.",
    "ScoreBands": {
        "Accept": 3,
        "DoNothing": 0,
        "Decline": -1,
		"Warn":-15,
        "BanUser": -1000
    },
    "Score": {
        "Profanity": -5,
        "Racism": -2000
    },
    "Filters": {
        "Template": {
            "Description": "Note the reason for the filter, Human readable, not used by the code",
            "Include": [],
            "Exclude": []
        },
        "Profanity": {
            "Description": "Identify Profanities, this may be hard filtered our or paired with others such as : if Profanity and accusation",
            "Include": [
                "Fuck",
                "Shit",
                "Cunt",
                "Arse",
                "Prick",
                "Arsehole",
                "asshole",
                "twat"
            ],
            "Exclude": []
        },
        "Racism": {
            "Description": "Identify Racist comments",
            "Include": [
                "nigger",
                "holocaust"
            ],
            "Exclude": []
        }
    },
    "ReasonBands": {
        "0": "No Value offered by comment",
        "-15": "Looks like profanities were found in the text, Please remove them",
		"-1000":"Your comment has been flagged for racist comments, contact admins or you will be banned imminently."
    }
}