{
  "Description": "Configured to filter profanities and PPE Related Comments.",
  "ScoreBands": {
    "Accept": 3,
    "DoNothing": 0,
    "Decline": -1,
    "BanUser": -1000
  },
  "Score": {
    "CryForHelp": 5
  },
  "Filters": {
    "Template": {
      "Description": "Note the reason for the filter, Human readable, not used by the code",
      "Include": [],
      "Exclude": [],
	  "Score":0
    },
    "Profanity": {
      "Description": "Identify Profanities, this may be hard filtered our or paired with others such as : if Profanity and accusation",
      "Include": [
        "Fuck",
        "Shit",
        "Cunt",
        "Arse",
        "Prick",
        "Arsehole",
        "asshole",
        "twat"
      ],
      "Exclude": [],
      "Score": -1000
    },
    "Racism": {
      "Description": "Identify Racist comments",
      "Include": [
        "nigger",
        "holocaust"
      ],
      "Exclude": [],
      "Score": -1000
    },
    "Petition": {
      "Include": [
        "petition",
        "sign this",
        "sign my"
      ],
      "Exclude": [],
      "Score": -1000
    },
    "CryForHelp": {
      "Include": [
        "cry for help",
        "see if",
        "looking for scrubs"
      ],
      "Exclude": [
        "are there",
        "is there"
      ],
      "Score": 10
    },
    "NoviceMember": {
      "Include": [
        "how do i get started",
        "how do i help",
        "what do i do",
        "what do i need",
        "i'm willing and able",
        "i'm able to",
        "i can sew",
        "sign up",
        "sign me up",
        "how do i register",
        "signing up"
      ],
      "Exclude": [],
      "Score": -1
    },
    "OfferingHelp": {
      "Description": "Determine if the test contains offers to help in sewing, logistics, resourcing, or donation",
      "Include": [
        "can i help",
        "i have a sewing machine",
        "eager to sew",
        "to help",
        "like to make",
        "have overlocker",
        "have an overlock",
        "like to sew"
      ],
      "Exclude": [],
      "Score": 2
    },
    "Requesting Information": {
      "Description": "Requesting for specific rather than generic information",
      "Include": [
        "know if hospital",
        "know if hosps",
        "know if gp",
        "hostals need",
        "gps need",
        "does anyone know if",
        "if hospital accepting",
        "if hospital is accept",
        "if hostpital is taking",
        "will take donation"
      ],
      "Exclude": [],
      "Score": -1
    },
    "NeedMaterial": {
      "Description": "There are processes in place for requesting fabric, Reject and redirect too appropriate process.",
      "Include": [
        "don't have material",
        "need material",
        "where can i get material",
        "can i have some material",
        "need fabric",
        "need to order fabric",
        "need to order material",
        "give me material"
      ],
      "Exclude": [],
      "Score": -1
    },
    "FindPatterns": {
      "Description": "Patterns are available and it is pointed too by multiple places.",
      "Include": [
        "where is the pattern",
        "find pattern",
        "finding pattern",
        "on pattern",
        "got a pattern",
        "pattern for scrubs",
        "pattern for scrub",
        "get pattern"
      ],
      "Exclude": [],
      "Score": -1,
      "Respond": "Check Patterns page"
    },
    "LookingNearMe": {
      "Description": "The Locations of groups is presented both in the group links and trello board.",
      "Include": [
        "aroun me",
        "around me",
        "near me",
        "local to me",
        "else in the"
      ],
      "Exclude": [],
      "Score": -1,
      "Respond": "Check Coordinators page"
    },
    "FabricInfo": {
      "Description": "Information on fabric reqs, where to locate, and how to donate was all on the about...",
      "Include": [
        "where can i find materials",
        "what material do i",
        "what material do i need",
        "what material is needed",
        "what materials is being used",
        "which material",
        "which fabric",
        "find materials",
        "where can i find fabric",
        "what fabric do i need",
        "what fabic is needed",
        "what fabric is being used",
        "find fabric",
        "donate fabric",
        "donate material",
        "no material"
      ],
      "Exclude": [],
      "Score": -1,
      "Respond": "Check Fabric Requirements section"
    },
    "MedicalStaff": {
      "Description": "fast track comments with medical staff keywords",
      "Include": [
        "medical staff looking for"
      ],
      "Exclude": [],
      "Score": 10
    },
    "Urgency": {
      "Description": "Urgency may be paired with other params and fast tracked if the other params aren't auto decline.",
      "Include": [
        "desperat",
        "asap",
        "urgent"
      ],
      "Exclude": [],
      "Score": 10,
      "Respond": "If this was an urgent request, please contact admins directly"
    },
    "ShowMyMake": {
      "Description": "Show and tell may distract from main focus, these should be manually moderated as image cannot be validated",
      "Include": [
        "i made",
        "ready to go",
        "for staff",
        "next batch ready",
        "just finished making",
        "i have made",
        "set made",
        "have complet",
        "are complet",
        "has complet"
      ],
      "Exclude": [],
      "Score": 1,
      "Respond": "Please use the search box for the 'I've Made Something' Thread"
    },
    "FindCoordinators": {
      "Description": "Filter for identifying looking for coordinators or sub groups, forward them to the maps",
      "Include": [
        "coordinator",
        "coordination",
        "coordinating",
        "co-ordinator",
        "co-ordination",
        "co-ordinating",
        "whos covering",
        "who is covering",
        "which group"
      ],
      "Exclude": [],
      "Score": -1,
      "Respond": "Coordinating groups are published on the trello board, check the about for info"
    },
    "DeleteIfNotAllowed": {
      "Description": "If you are not sure and put this state ment, then you didnt read the about and will be deleted.",
      "Include": [
        "please delete",
        "please remove",
        "if allowed"
      ],
      "Exclude": [],
      "Score": -10,
      "Respond": ""
    },
    "PPE": {
      "Description": "Note the reason for the filter, Human readable, not used by the code",
      "Include": [
        "mask",
        "face covering",
        "faceshield",
        "face shield",
        "facecover",
        "gown",
        "p43",
        "apron"
      ],
      "Exclude": [],
      "Score": -100,
      "Respond": "PPE and masks and not being covered on this forum, please look for other groups"
    },
    "Redirect": {
      "Description": "We are unable to validate sub group re-directs, block them all.",
      "Include": [
        "subgroup",
        "other group",
        "my group",
        "my page",
        "get in touch",
        "wants them"
      ],
      "Exclude": [],
      "Score": -100,
      "Respond": "It looks like you are trying to re-direct traffic to another page or site. We do not accept these kind of posts."
    },
    "Scrubs": {
      "Description": "Scrubs are the focal point of the group always flag this.",
      "Include": [
        "scrubs",
        "scrubhat",
        "scrubHats"
      ],
      "Exclude": [],
      "Score": 20,
      "Respond": ""
    },
    "Blank": {
      "Description": "Blank text content is either shared content or images without comment which I'm unable to digitally valdate.",
      "Include": [
        ""
      ],
      "Exclude": [],
      "Score": -10,
      "Respond": "It looks like the post was an image only or shared content, please put some word to describe the shared post or image"
    },
    "DirectMessage": {
      "Description": "Direct messaging removes visibility from the group administration and unable to validate validity of the PM requester.",
      "Include": [
        "pm me",
        "dm me",
        "message me",
        "message you",
        "inbox"
      ],
      "Exclude": [],
      "Score": -10,
      "Response": "It looks like you are trying to ask people to direct message you, please contact admin"
    },
    "OtherPandemicItems": {
      "Description": "There were usually other pandemic items which we don't want to contaminate focus in the group.",
      "Include": [
        "3dprint",
        "ventiliators",
        "masks",
        "volunteer for us"
      ],
      "Exclude": [],
      "Score": -10,
      "Reason": "We are unable to support moderation bandwidth of non scrubs related items."
    },
    "Crowfunding": {
      "Description": "Not enough resource to validate third party fundraising, to protect the volunteers we must blanket block it",
      "Include": [
        "donate to",
        "a donation",
        "fundraiser",
        "justgiving",
        "kickstarter",
        "gofundme",
        "crowfund",
        "donated"
      ],
      "Exclude": [],
      "Score": -100,
      "Respond": "We are unable to validate third party fundraisers and therefore your post"
    }
  }
}